header
    padding: 10px 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 111
    background-color: #fff
    .logo
        width: 200px
        display: inline-block

    .nav
        list-style: none
        a 
            padding: 20px 
