@import 'normolize'
@import 'elements'
@import 'header'
@import 'footer'
@import 'modal'

.main
    position: relative
    z-index: 1
    display: flex
    min-height: min(100svh,102.4rem)

    align-items: center
    text-align: center
    p
        max-width: 610px
        margin: 0 auto 40px
    &-bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        // pointer-events: none

        z-index: -1
        background-color: #fff
        box-shadow: 0 20px 40px -20px #eee
        overflow: hidden
        img
            object-fit: contain
            width: 100%
            height: 100%
            bottom: 0
            height: 100%
            left: 0
            margin: 0
            max-width: none
            padding: 0
            position: absolute
            right: 0
            top: 0
            width: 100%

    .bg1,
    .bg2,
    .bg3,
    .bg4,
    .bg5
        position: absolute
    .bg1
        width: clamp(21.6rem, 34.65vw + 8.61rem, 58.5rem)
        height: clamp(16.6rem, 45.44vh + -10.66rem, 39.5rem)
        top: 0
        left: 60%
        img
            object-position: 50% 0px

    .bg2
        width: clamp(21.6rem, 34.65vw + 8.61rem, 58.5rem)
        height: clamp(31.9rem, 86.9vh + -20.24rem, 75.7rem)
        top: 40%
        right: 0
        img
            object-position: 100% 0px
    .bg3
        width: clamp(21.6rem, 34.65vw + 8.61rem, 58.5rem)
        height: clamp(11.5rem, 31.55vh + -7.43rem, 27.4rem)
        left: 19%
        bottom: 0
        img
            object-position: 50% 100%

    .bg4
        width: clamp(21.6rem, 34.65vw + 8.61rem, 58.5rem)
        height: clamp(22.9rem, 62.3vh + -14.48rem, 54.3rem)
        bottom: 2%
        left: 0
        img
            object-position: 50% 100%

    .bg5
        width: clamp(21.6rem, 34.65vw + 8.61rem, 58.5rem)
        height: clamp(26.9rem, 73.41vh + -17.15rem, 63.9rem)
        top: -1%
        left: 0
        img
            object-position: 0px 50%

.pop
    padding: 0
    position: relative
    z-index: 100
    top: -6.4rem
    .container
        background-color: $prime
        color: #fff
        max-width: 1216px
        margin: 0 auto
        border-radius: 5.6rem
        padding-bottom: 9.6rem
        padding-top: 9.6rem

    .content
        max-width: 58%
        padding: 0 6.4rem

    h2
        margin-bottom: 1.6rem

    video
        padding: 0 6.4rem 0 0
        width: 40%

.info
    position: relative
    z-index: 1
    overflow: hidden
    video
        pointer-events: none
        width: 1100px
        height: 1100px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-104%, -50%)
        z-index: -1

    .container
        max-width: 1216px
        video
            position: static
            width: 40%
            height: unset
            transform: none !important

    &-content
        max-width: 50%
        margin: 0 0 0 auto

    picture
        display: block
        width: 40%

    &.reverce
        .info
            &-content
                margin: 0

        video
            transform: translate(0%, -55%)

    &.gradient
        background: linear-gradient(180deg,#fff,#f5fae7)
        &-blue
            background: linear-gradient(180deg,#fff,#f4f9fc)

.doble
    h2
        text-align: center
        max-width: 600px
        margin: 0 auto 8rem

    .wrap
        align-items: stretch

    .item
        width: 48%
        background-color: #f1f0f0
        border-radius: 5.6rem
        overflow: hidden
        position: relative
        z-index: 1
        padding: 6.4rem 6.4rem 400px

        img
            width: 100%
            // height: 100%
            position: absolute
            bottom: 0
            left: 0
            z-index: -1
            object-fit: contain

        video
            pointer-events: none
            width: 800px
            height: 800px
            position: absolute
            z-index: -1
            left: 50%
            bottom: -70%
            transform: translate(-50%, -50%)

        &:nth-of-type(2)
            background: radial-gradient(circle at 42% 32%, rgb(246, 238, 247) 20%, rgb(212, 229, 244) 80%)

.start
    // clip-path: inset(0px 26.5348px round 4.6436rem)
    background-color: #fbeee6
    text-align: center
    overflow: hidden
    min-height: 1080px
    position: relative
    z-index: 1

    h2
        text-align: center
        max-width: 600px
        margin: 0 auto 2rem

    video
        width: 100vw
        position: absolute
        top: 50%
        transform: translateY(-22%)
        left: 0
        z-index: -1

@media screen and ( max-width: 1124px )
    .main
        &-bg

        .bg1
            left: 40%
        .bg2
            right: -22%
            top: 58%
        .bg3
            bottom: 0
            left: 17%
        .bg4
            bottom: 0
            left: -20%
        .bg5
            left: -12%
            top: -10%

    .pop
        padding: 0 3.2rem
        .container
            display: block
            text-align: center
            padding: 8rem 0 0

        .content
            padding: 0 3.2rem
            max-width: 100%

        video
            display: block
            width: calc( 100vw - 6.4rem )
            height: calc( 100vw - 6.4rem )
            padding: 0
            margin: 0 auto

    .info
        text-align: center
        padding-bottom: 50vw
        .container
            display: block
            video
                margin-top: 3.2rem
                width: 80vw
                height: 80vw

        &-content
            margin: 0
            max-width: 100%

        picture
            width: 100%
            max-width: 400px
            margin: 0 auto 2rem

        video
            width: 100vw
            height: 100vw
            transform: none
            left: 0
            top: auto
            bottom: 0
            transform: translateY(22%)

        &.reverce
            padding-bottom: 80vw
            video
                transform: translateY(10%)

        &.imaged
            padding-bottom: 16rem
        &.gradient-blue
            padding-bottom: 16rem

    .doble
        .container

        .item
            padding: 3.2rem 3.2rem 338px
            border-radius: 3.2rem
            video
                width: 600px
                height: 600px
                bottom: -55%

            img
                height: 43vw

    .start
        padding-bottom: 4rem
        min-height: 800px

        video
            transform: translateY(-12%)

@media screen and ( max-width: 620px )
    .doble
        .container
            display: block
        .item
            width: 100%
            padding-bottom: 300px
            &:last-of-type
                margin-top: 4rem

            img
                height: 100vw

            video
                height: 500px
                width: 500px
                bottom: -47%

    .start
        // min-height: 600px

        video
            top: 60%
            transform: translateY(0%)
